html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
}

.imgStyle {
    height: 60px;
    width: 60px;
}

.footerImg {
    height: 20px;
    width: 22px;
}
header, footer {
    background-color: rosybrown;
}
body {
    background-color: #e0e0e0;
}