#marginDesc{
    margin: 2%;
}
.mainDiv{
    margin-top: 100px;
    margin-bottom: 100px; 
    flex-direction: column;
    display: flex;
    background-color: #e0e0e0; 
    
}
.imgDiv{
    background-color: rgb(132,136,139); 
    margin-top: 10%;
    margin: 7% auto; 
    flex-direction: row;
    display: flex;
    width: 60%;
    font-family: 'Ubuntu',sans-serif;
    height: 270px;
}